<h3>Tác giả: <%= @article.author %></h3>
<h3>Trạng thái: <%= @article.status.name %></h3>
<h3>Cập nhật trạng thái:</h3>
<%= semantic_form_for admin_articles_update_status_path(params[:id]), method: :post do|f| %>
    <%= f.input :status_id, :as => :select, :collection => Status.all, include_blank: false, label: false %>
    <%= f.actions do %>
        <%= f.action :submit, :label => "Kiểm duyệt" %>
    <% end %>

<% end %>