<br>
<div class="container">
  <h2>Thay đổi mật khẩu</h2>
  <hr>
  <div class="row">
    <!-- left column -->
    <%= form_for home_blogger_change_password_path, html: { class:"form-horizontal", role:"form",method: :post } do |f| %>
        <% if flash[:alert]  %>
            <div class="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a>
              <p class="alert" style="color: #00ffee"><%= alert %></p>
            </div>
        <% end %>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">

          <div class="form-group">
            <label for="password" class="col-md-4 control-label">Mật khẩu mới</label>
            <div class="col-md-8">
              <%= f.password_field :password, autocomplete: "off",class:"form-control",placeholder:"Mật khẩu mới", type:'password', :required => true %>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-md-4 control-label">Xác nhận mật khẩu</label>
            <div class="col-md-8">
              <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control",placeholder:"Xác nhận mật khẩu", type:'password', :required => true %>
            </div>
          </div>


          <div class="form-group">
            <div class="col-md-8">
              <%= f.submit "Đổi mật khẩu", class: "btn btn-primary" %>
              <span></span>
              <%= link_to "Cancel", home_blogger_account_path(@blogger.id),method: :get,class:"btn btn-default", value:"Cancel", type:"reset"%>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<hr>