<script>
    $(document).ready(function(){
        //Examples of how to assign the Colorbox event to elements
        $(".group1").colorbox({rel:'group1'});
        $(".group2").colorbox({rel:'group2', transition:"fade"});
        $(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
        $(".group4").colorbox({rel:'group4', slideshow:true});
        $(".ajax").colorbox();
        $(".youtube").colorbox({iframe:true, innerWidth:840, innerHeight:490});
        $(".vimeo").colorbox({iframe:true, innerWidth:500, innerHeight:409});
        $(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
        $(".inline").colorbox({inline:true, width:"50%"});
        $(".callbacks").colorbox({
            onOpen:function(){ alert('onOpen: colorbox is about to open'); },
            onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
            onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
            onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
            onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
        });

        $('.non-retina').colorbox({rel:'group5', transition:'none'})
        $('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});

        //Example of preserving a JavaScript event for inline calls.
        $("#click").click(function(){
            $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
            return false;
        });
    });
</script>
<br>
<div style="background-color: #f2f2f4; height: 50px;">

  <nav class="second-menu">
    <div class="container">

      <div class="navbar-header">
        <button data-target=".ccr-nav-below-main" data-toggle="collapse" class="navbar-toggle" type="button">
          <i class="fa fa-bars"></i>
        </button> <!-- /.navbar-toggle -->
      </div> <!-- / .navbar-header -->

      <div class="collapse navbar-collapse ccr-nav-below-main">
        <ul class="nav navbar-nav">
          <li><%= link_to "Tổng hợp", home_tong_hop_video_path %></li>
          <% @categories.each do |category| %>
            <li><%= link_to category.name, home_videos_path(category.id) %></li>
          <% end %>
        </ul> <!-- /.nav /.navbar-nav -->
      </div>


    </div><!-- /.container -->
  </nav><!-- /.second-menu -->
</div>
<br>

  <div class="row-fluid">
  <div class="span8 main-section">

    <div class="row-fluid">

      <ul class="thumbnails">
      <% if @tong_hop_videos.present? %>
        <% @tong_hop_videos.each do |category, videos| %>
            <% videos.each_with_index do |video, j| %>

                    <li class="span3" style="margin-top: 15px">
                      <div class="thumbnail">
                        <a class='youtube' href="http:<%= video.video%>">
                        <img src=<%= image_path(video.image) %> alt="300x200" width="300px" height="130px">
                          <div class="caption" style="height: 100px">
                            <h5><p style="line-height: 20px">
                                  <a class='youtube' href="http:<%= video.video%>">
                                    <%= video.title %>
                                  </a>
                                </p>
                            </h5>
                          </div>
                        </a>
                      </div>
                    </li>
            <% end %>
      <% end %>
      <% elsif @videos.present? %>
        <% @videos.each_with_index do |video,i| %>

            <li class="span3" style="margin-top: 15px">
              <div class="thumbnail">
                <a class='youtube' href="http:<%= video.video%>">
                  <img src=<%= image_path(video.image) %> alt="300x200" width="300px" height="130px">
                  <div class="caption" style="height: 100px">
                    <h5>
                      <p style="line-height: 20px">
                          <a class='youtube' href="http:<%= video.video%>">
                            <%= video.title %>
                          </a>
                       </p>
                    </h5>
                  </div>
                </a>
              </div>
            </li>

        <% end %>
      <% end %>
      </ul>
    </div>

    <div class="clearfix"></div>

    <% if @videos.present? %>
        <div class="flickr_pagination" >
          <%= will_paginate @videos,:container => false %>
        </div>
    <% end %>
  </div>
    <%=render 'layouts/sidebar'  %>

</div>




