<header id="ccr-header">
  <section id="ccr-nav-top" class="fullwidth">
    <div class="">
      <div class="container">
        <nav class="top-menu">
          <ul class="left-top-menu">
            <li><%=link_to 'Home', home_index_path, id: 'link'%></li>
            <li><a href="contact.html">Contact</a></li>
          </ul><!-- /.left-top-menu -->

          <ul class="right-top-menu pull-right">
            <% if blogger_signed_in? %>
               <li> <%= link_to current_blogger.email, home_blogger_account_path(current_blogger.id), method: :get %></li>
               <li><%= link_to "Logout",destroy_blogger_session_path, method: :delete %></li>
            <% else %>
                <li><%= link_to "Login", new_blogger_session_path  %></li>
                <li><%= link_to 'Register', new_blogger_registration_path, id: 'link'%></li>
            <% end %>
            <!--<li>-->
              <!--<form class="form-inline" role="form" action="#">-->
                <!--<input type="search" placeholder="Search here..." required>-->
                <!--<button type="submit"><i class="fa fa-search"></i></button>-->
              <!--</form>-->
            <!--</li>-->
          </ul> <!--  /.right-top-menu -->
        </nav> <!-- /.top-menu -->
      </div>
    </div>
  </section> <!--  /#ccr-nav-top  -->



  <section id="ccr-site-title">
    <div class="container">
      <div class="site-logo">
        <%= link_to home_index_path, class: "navbar-brand" do%>
          <img src="<%= image_path("logo1.png") %>" alt="Side Logo" />
          <h1>Daily <span>News</span></h1>
          <h3>The Daily News Source</h3>
         <%end%>
      </div> <!-- / .navbar-header -->

      <div class="add-space">
        <% if @top_location.present?%>
            <img src=<%= image_path(@top_location.image)%> alt="" width="750px" height="90px">
        <%else%>
            728 x 90 px Banner
        <%end%>
      </div> <!-- / .adspace -->

    </div>	<!-- /.container -->
  </section> <!-- / #ccr-site-title -->


  <section id="ccr-nav-main">
    <nav class="main-menu">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-main">
            <i class="fa fa-bars"></i>
          </button> <!-- /.navbar-toggle -->
        </div> <!-- / .navbar-header -->

        <div class="collapse navbar-collapse ccr-nav-main">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', home_index_path, class: "active"%></li>
            <li><%= link_to 'Video', home_tong_hop_video_path %></li>
            <% @categories.each do |category|%>
                <li><%=link_to category.name, home_articles_path(category.id)%> </li>
            <%end %>
            <li><%= link_to 'Blogs', home_blogs_path %></li>


          </ul> <!-- /  .nav -->
          <ul class="right-top-menu pull-right" style="float:right;  margin-top: 10px">
            <!--<li>-->




              <!--&lt;!&ndash;<form class="form-inline" role="form" action="#">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="search" placeholder="Search here..." required>&ndash;&gt;-->
                <!--&lt;!&ndash;<button type="submit"><i class="fa fa-search"></i></button>&ndash;&gt;-->
              <!--&lt;!&ndash;</form>&ndash;&gt;-->

              <!--<% form_tag home_search_path, method: :get, id:"newsletter" do  %>-->

                  <% text_field_tag :search, params[:search],
                                     placeholder: 'Search province', type: :search %>

              <!--<% end %>-->
            <!--</li>-->
<li>

            <form class="navbar-form" role="search">
              <div class="input-group add-on" style="margin-top: -15px">
                <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">Search</button>
                </div>
              </div>
            </form>
            </li>
          </ul>
        </div><!-- /  .collapse .navbar-collapse  -->

      </div>	<!-- /.container -->
    </nav> <!-- /.main-menu -->
  </section> <!-- / #ccr-nav-main -->

</header> <!-- /#ccr-header -->